.bot-avatar {
  width: 35px;
  height: 35px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: rgb(151, 151, 151);
  color: black;
  margin-right: 15px;
}
