.url-link {
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(24, 24, 24);
  display: flex;
  color: #fff;
  height: 50px;
}

.url-icon {
  fill: #fff;
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

.url-header {
  font-size: 0.9rem;
  color: white;
}
