.productCard {
  max-width: 800px;
  margin: 0 auto 100px;

  .hero {
    display: block;
    width: 100%;
    margin: 20px auto;

    img {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  .productDetails {
    ul,
    ul li {
      padding: 0;
      margin: 0;
    }

    ul li {
      list-style-type: none;
      margin: 0 auto 10px;

      h1 {
        margin: 0;
      }
    }

    .productDesc {
      cursor: initial;
    }
  }

  .addToCart {
    max-width: 200px;
  }
}
