.cross {
  height: 200px;
  position: relative;
}

.imgRegistration {
  position: absolute;
  margin-right: 15px;
  top: 25px;
  right: -15px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

span {
  cursor: pointer;
}
