.btn {
  display: block !important;
  width: 100% !important;
  background: black !important;
  padding: 10px !important;
  margin: 0 auto !important;
  color: rgb(255, 255, 255) !important;
  font-size: 18px !important;
  line-height: 1 !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  border: 0 !important;
  outline: none !important;
  cursor: pointer !important;
  border-radius: 10px !important;
  z-index: 9999 !important;
}

.btn:hover {
  background: rgb(160, 160, 160) !important;
  color: #242424 !important;
  transition: 250ms !important;
}

.btn:active {
  background: rgb(104, 104, 104) !important;
  color: #242424 !important;
  transition: 250ms !important;
}
