.app-chatbot-container {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 9999;

  border-radius: 5px;
}

.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow: scroll;
  height: 424px;
  width: 300px;
  overflow-x: hidden;
}

.react-chatbot-kit-chat-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #efefef;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #514f4f;
  padding: 12.5px;
  font-weight: bold;
  width: 300px;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  border: none;
  font-size: 0.85rem;
  border-top: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
}

.react-chatbot-kit-chat-container {
  position: relative;
  width: 300px;
}
.react-chatbot-kit-chat-bot-message {
  font-size: 12px;
}

.react-chatbot-kit-user-chat-message {
  font-size: 12px;
}

.toggleChatbotButton {
  height: 50px;
  width: 60px;
  border-radius: 25px;
  position: fixed;
  z-index: 9999;
  bottom: 15px;
  right: 40px;
  background-color: white;
  cursor: pointer;

  .iconCSS {
    width: 30px;
    height: auto;
    margin: 10px 14px;
  }
}
