.products {
  margin: 20px 0;
  display: block;
  width: 100%;
  padding: 0;

  .productResults {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -10px 0;
  }
}

.searchDiv {
  float: right;
}

.product {
  width: 25%;
  margin: 0 auto 20px;

  padding: 0 10px;

  .thumb {
    display: block;
    width: 100%;

    img {
      display: block;
      width: 100%;
      margin: 0;
      border-radius: 10px;
    }
  }

  .details {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 auto;

    ul,
    ul li {
      padding: 0;
      margin: 10;
    }

    ul {
      li {
        display: block;
        list-style-type: none;
        width: 100%;
        margin: 0 0 5px;
        text-align: center;

        a {
          color: black;
        }

        .name {
          font-size: 25px;
          line-height: 1.2;
          font-weight: 400;
        }

        .price {
          font-size: 12px;
          line-height: 1;
          font-weight: 400;
        }

        .addToCart {
          margin: 20px;
        }
      }
    }
  }
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  background-color: black;
}

button.btnATC {
  background-color: black;
  color: white;
}

.ant-card-meta-title {
  font-size: 12px;
  font-weight: 700;
}

.ant-card-bordered {
  border: 1px solid #0808082e;
  border-radius: 10px;
}

.ant-card-actions {
  border-top: 1px solid #0808082e;
  border-radius: 10px;
}

.ant-card-bordered .ant-card-cover {
  margin: 0 auto;
  border-bottom: 1px solid #0808082e;
  border-radius: 10px;
}
