.backLoginDiv {
  display: block;
  margin-top: 10px;
  width: 100%;
  text-align: center;

  span {
    color: black;
    font-weight: 400;
    font-size: 12px;
  }

  a {
    color: black;
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
  }
}
